a {
    cursor: pointer;
}
a:link, a:visited {
    color: black;
}

a:link:active, a:visited:active {
    color: black;
    text-decoration: none;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    cursor: pointer;
}
input[type=number] {
    -moz-appearance:textfield;
}
button:focus {
    outline: none;
}
